<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - ComponentPlayground</title>
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="/_content/StellarAdmin.TagHelpers/stellar-admin.css"/>
</head>
<body>
<sa-sidebar-wrapper>
    <sa-sidebar variant="Inset">
        @*<sa-sidebar-header>Header</sa-sidebar-header>*@
        <sa-sidebar-content>
            @{
                List<DemoGroup> demoGroups =
                [
                    new DemoGroup("Display",
                    [
                        new DemoItem("Avatar", "/Demo/Avatar"),
                        new DemoItem("Badge", "/Demo/Badge"),
                        new DemoItem("Card", "/Demo/Card"),
                        new DemoItem("Empty", "/Demo/Empty"),
                        new DemoItem("Icon", "/Demo/Icon"),
                        new DemoItem("Item", "/Demo/Item"),
                        new DemoItem("Kbd", "/Demo/Kbd"),
                        new DemoItem("Separator", "/Demo/Separator"),
                        new DemoItem("Skeleton", "/Demo/Skeleton"),
                        new DemoItem("Table", "/Demo/Table"),
                    ]),
                    new DemoGroup("Feedback",
                    [
                        new DemoItem("Alert", "/Demo/Alert"),
                        new DemoItem("Progress", "/Demo/Progress"),
                        new DemoItem("Spinner", "/Demo/Spinner"),
                    ]),
                    new DemoGroup("Forms",
                    [
                        new DemoItem("Button", "/Demo/Button"),
                        new DemoItem("Button Group", "/Demo/ButtonGroup"),
                        new DemoItem("Checkbox", "/Demo/Checkbox"),
                        new DemoItem("Field", "/Demo/Field"),
                        new DemoItem("Label", "/Demo/Label"),
                        new DemoItem("Input", "/Demo/Input"),
                        new DemoItem("Radio", "/Demo/Radio"),
                        new DemoItem("Select", "/Demo/Select"),
                        new DemoItem("Textarea", "/Demo/Textarea")
                    ]),
                    new DemoGroup("Layout", 
                    [
                        new DemoItem("Group", "/Demo/Group"),
                        new DemoItem("Stack", "/Demo/Stack")
                    ]),
                    new DemoGroup("Navigation",
                    [
                        new DemoItem("Breadcrumb", "/Demo/Breadcrumb"),
                        new DemoItem("Pagination", "/Demo/Pagination"),
                    ])
                ];
            }
            @foreach (var demoGroup in demoGroups)
            {
                <sa-sidebar-group>
                    <sa-sidebar-group-label>@demoGroup.Title</sa-sidebar-group-label>
                    <sa-sidebar-group-content>
                        <sa-sidebar-menu>
                            @foreach (var demoItem in demoGroup.Items)
                            {
                                <sa-sidebar-menu-item>
                                    <sa-sidebar-menu-link asp-page="@demoItem.Page">
                                        @demoItem.Title
                                    </sa-sidebar-menu-link>
                                </sa-sidebar-menu-item>
                            }
                        </sa-sidebar-menu>
                    </sa-sidebar-group-content>
                </sa-sidebar-group>
            }
        </sa-sidebar-content>
        @*<sa-sidebar-footer>Footer</sa-sidebar-footer>*@
    </sa-sidebar>
    <sa-sidebar-inset>
        @RenderBody()
    </sa-sidebar-inset>
</sa-sidebar-wrapper>
@await RenderSectionAsync("Scripts", false)
</body>
</html>
