<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - ComponentPlayground</title>
    <script src="https://cdn.jsdelivr.net/npm/@@tailwindcss/browser@@4"></script>
    <link rel="stylesheet" href="/_content/StellarUI/styles.css"/>
</head>
<body>
<sui-sidebar-wrapper>
    <sui-sidebar variant="Inset">
        @*<sui-sidebar-header>Header</sui-sidebar-header>*@
        <sui-sidebar-content>
            <sui-sidebar-group>
                <sui-sidebar-group-label>Demos</sui-sidebar-group-label>
                <sui-sidebar-group-content>
                    <sui-sidebar-menu>
                        @{
                            List<DemoItem> demoItems =
                            [
                                new DemoItem("Alert", "/Demo/Alert", "circle-alert"),
                                new DemoItem("Avatar", "/Demo/Avatar", "circle-user"),
                                new DemoItem("Badge", "/Demo/Badge", "badge"),
                                new DemoItem("Breadcrumb", "/Demo/Breadcrumb", "ellipsis"),
                                new DemoItem("Button", "/Demo/Button", "rectangle-horizontal"),
                                new DemoItem("Button Group", "/Demo/ButtonGroup", "rectangle-horizontal"),
                                new DemoItem("Card", "/Demo/Card", "id-card"),
                                new DemoItem("Empty", "/Demo/Empty", "sparkles"),
                                new DemoItem("Field", "/Demo/Field", "text-cursor-input"),
                                new DemoItem("Icon", "/Demo/Icon", "image"),
                                new DemoItem("Item", "/Demo/Item", "rows-3"),
                            ];
                        }
                        @foreach (var demoItem in demoItems)
                        {
                            <sui-sidebar-menu-item>
                                <sui-sidebar-menu-link asp-page="@demoItem.Page">
                                    <sui-icon name="@demoItem.IconName"/>
                                    @demoItem.Title
                                </sui-sidebar-menu-link>
                            </sui-sidebar-menu-item>
                        }
                    </sui-sidebar-menu>
                </sui-sidebar-group-content>
            </sui-sidebar-group>
        </sui-sidebar-content>
        @*<sui-sidebar-footer>Footer</sui-sidebar-footer>*@
    </sui-sidebar>
    <sui-sidebar-inset>
        @RenderBody()
    </sui-sidebar-inset>
</sui-sidebar-wrapper>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
