@page
@using DuneUI.TagHelpers
@model ComponentPlayground.Pages.Demo.Avatar
@{
    var url = "https://github.com/shadcn.png";
}

<dui-avatar src="@url" />
<p>&nbsp;</p>
<dui-avatar name="Jeremia Josiah Pelser" />
<dui-avatar name="Jerrie Pelser" />
<dui-avatar name="Jerrie" />
<dui-avatar name="J" />
<dui-avatar />
<p>&nbsp;</p>
<dui-avatar src="@url" size="AvatarSize.Small" />
<dui-avatar src="@url" size="AvatarSize.Default" />
<dui-avatar src="@url" size="AvatarSize.Large" />
<p>&nbsp;</p>
<dui-avatar name="Jerrie Pelser" size="AvatarSize.Small" />
<dui-avatar name="Jerrie Pelser" size="AvatarSize.Default" />
<dui-avatar name="Jerrie Pelser" size="AvatarSize.Large" />
<p>&nbsp;</p>
<dui-avatar-group>
<dui-avatar src="@url" />
<dui-avatar src="@url" />
<dui-avatar src="@url" />
</dui-avatar-group>